<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.comentoStatistic.dao.StatisticMapper">
    <!-- 일자별 접속자 수 조회 -->
    <select id="selectDailyUserCount" parameterType="string" resultType="com.demo.comentoStatistic.dto.DailyUserCountDto">
        select #{date} as date, count(user_id) as userCount
        from request_info
        where create_date = #{date}
    </select>

    <!-- 월별 접속자 수 조회 -->
    <select id="selectMonthlyUserCount" parameterType="string" resultType="com.demo.comentoStatistic.dto.MonthlyUserCountDto">
        select 
            substring(#{yearMonth}, 1, 4) as year,
            substring(#{yearMonth}, 5, 2) as month,
            count(user_id) as userCount
        from request_info
        where substring(create_date, 1, 6) = #{yearMonth}
    </select>

    <!-- 기간 내 총 접속수 조회 -->
    <select id="selectTotalAccessCount" resultType="java.lang.Integer">
        select count(user_id)
        from request_info
        where create_date between #{startDate} and #{endDate}
    </select>

    <!-- 부서별 월별 접속수 조회 -->
    <select id="selectDeptMonthlyUserCount" resultType="com.demo.comentoStatistic.dto.DeptMonthlyUserCountDto">
        select 
            substring(#{yearMonth}, 1, 4) as year,
            substring(#{yearMonth}, 5, 2) as month,
            #{department} as department,
            count(ri.user_id) as userCount
        from request_info ri
        join users u on ri.user_id = u.user_id
        where substring(ri.create_date, 1, 6) = #{yearMonth}
          and u.department = #{department}
    </select>

</mapper>
